html, body {
  height: calc(100% - 10px);
  margin: 0; 
}

body {
  padding-left: 50px;
}

.text-container {
  width: 40%;
  font-size: 20px;
}

#tbw-editor {
  height: 400px;
}

#tbw-editor:not(.trumbowyg-editor) {
  overflow-y: auto;
}
